.categories {
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
  height: 50px;
}

.open {
  height: auto;
  animation: slideOut 0.5s;
}

.ul {
  display: flex;
  flex-wrap: wrap;
}

.li {
  background-color: aliceblue;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  text-transform: capitalize;

  &:hover {
    border: 2px solid #005bff;
  }

  &:active {
    background-color: darken(#005bff, 5%);
    border: 2px solid darken(#005bff, 5%);
    color: #fff;
  }
}

.liActive {
  background-color: #005bff;
  color: #fff;

  &:hover {
    background-color: darken(#005bff, 5%);
    border-color: darken(#005bff, 5%);
  }
}

@keyframes slideOut {
  from {
    height: 50px;
  }
  to {
    height: 200px;
  }
}
