.product {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 300px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  position: relative;
  background-color: aliceblue;
  border-radius: 6px;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.title {
  margin: 10px auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  word-break: break-word;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #005bff;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.prices {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.button {
  color: aliceblue;
  background-color: #005bff;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;

  &:hover {
    background-color: #0050e0;
  }
}

.discount {
  color: #ffffff;
  background-color: #f91155;
  padding: 3px 8px;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.rating {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #707f8d;
  font-weight: bold;
  font-size: 14px;
}

.star {
  color: #ffb800;
  margin-right: 5px;
}

.secondPrice {
  position: relative;
  color: #707f8d;
  font-size: 16px;

  &::before {
    background: #f91155;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: rotate(-3deg);
    width: 100%;
  }
}
